@import "~bootstrap/scss/bootstrap";

.active {
    color: #0282F9;
}

header {
    nav {
        padding: 20px;
        align-items: center;
        ul {
            list-style: none;
            li {
                padding-left: 15px;
                a {
                    text-decoration: none;
                    color: black;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 1.3rem;
                }
            }
        }
    }
 }
 img {
    max-width: 100%;
 }


